@import url('./Vars.css');

#contact{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.contact-container>h1{
    font-size: 5rem;
    color: var(--signature);
}

.contact-container>p{
    color: white;
    width: 60%;
    line-height: 1.5;
    text-align: center;

}

.contact-container>h1,.contact-container>p,.contact-container>div{
    margin: 0 0 3rem 0;
}

.contact-links{
    background-color: var(--table-color);
    box-shadow: 0px 0 40px #262629;
    border-radius: 2rem;
    width: 100%;
}

.contact-links>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
    border-bottom: 5px solid var(--secondary-bg);
    /* background-color: var(--table-color); */
    padding: 2rem;
    /* border: 1px solid red; */

}

.contact-container>a:nth-child(1){
    border-radius: 2rem;
}


@media only screen and (min-width:1401px){
    .contact-container{
      width: 70% !important;
    }
  }

@media only screen and (min-width:1201px){
    .contact-container{
        width: 80%;
    }
}

@media only screen and (min-width:1025px)and (max-width:1200.99px){
    .contact-container{
        width: 85%;
    }

    .contact-container>p{
        width: 70%;
    }
}

@media only screen and (min-width:769px)and (max-width: 1024.99px){
    .contact-container{
        width: 85%;
    }

    .contact-container>p{
        width: 80%;
    }
}

@media only screen and (min-width:481px)and (max-width: 768.99px){
    .contact-container{
        width: 90%;
    }

    .contact-container>h1{
        font-size: 4rem;
    }

    .contact-container>p{
        width: 90%;
    }
}

@media only screen and (min-width:320px)and (max-width: 480.99px){
    .contact-container{
        width: 95%;
    }

    .contact-container>h1{
        font-size: 3rem;
    }

    .contact-container>p{
        width: auto;
        text-align: center;

    }
}





@media only screen and (min-width:1201px){
    
}

@media only screen and (min-width:1025px)and (max-width:1200.99px){
  
}

@media only screen and (min-width:769px)and (max-width: 1024.99px){
  
}

@media only screen and (min-width:481px)and (max-width: 768.99px){
  
}

@media only screen and (min-width:320px)and (max-width: 480.99px){
  
}